
{% extends "basepage/base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron bg-transparent">
            <div class="row">
                <div class="col-12">
                    {% load static %}
                    <img align="middle" src="{% static 'basepage/Images/DP.jpg' %}" alt="Avatar" class="avatar">
                </div>
                <div class="col-12">
                    <h1 id = "name" align="middle" class="display-4">Chinmay Prakash Swami </h1>
                </div>
            </div>
            <div class="row">
                {% for desc in descriptions %}
                    <p>{{desc}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}